<?xml version="1.0" encoding="UTF-8" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
<acl>
    <resources>
        <resource id="Magento_Backend::admin">
            <resource id="Magento_Backend::content">
                <resource id="ThanhND_Blog::post_content" title="ThanhND Blog" sortOrder="10">
                    <resource id="ThanhND_Blog::post" title="ThanhND Blog Manage Post" sortOrder="40">
                        <resource id="ThanhND_Blog::save" title="ThanhND Blog Save Blog Post" sortOrder="10"/>
                        <resource id="ThanhND_Blog::post_delete" title="ThanhND Blog Delete Blog Post" sortOrder="20"/>
                    </resource>
                </resource>
            </resource>
        </resource>
    </resources>
</acl>
</config>