<?xml version="1.0" encoding="UTF-8" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="blog" translate="label" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Blog</label>
            <tab>thanhnd_modules</tab>
            <resource>ThanhND_Blog::configuration</resource>
            <group id="general" translate="label" showInDefault="1" showInWebsite="1" showInStore="1" type="text">
                <label>General Settings</label>
                <field id="enable" type="select" translate="label" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable</label>
                    <comment>Enable/Disable module</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>