<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="ThanhND_SliderWidget::sliderwidget" title="Slider Manager" module="ThanhND_SliderWidget" sortOrder="20" parent="ThanhND_Core::smtraining" resource="ThanhND_SliderWidget::sliderwidget" />
        <add id="ThanhND_SliderWidget::sliderwidget_slider" title="Manage Slider" module="ThanhND_SliderWidget" sortOrder="10" parent="ThanhND_SliderWidget::sliderwidget" action="sliderwidget/slider" resource="ThanhND_SliderWidget::sliderwidget_slider"/>
        <add id="ThanhND_SliderWidget::sliderwidget_banner" title="Manage Banner" module="ThanhND_SliderWidget" sortOrder="20" parent="ThanhND_SliderWidget::sliderwidget" action="sliderwidget/banner" resource="ThanhND_SliderWidget::sliderwidget_banner"/>
        <add id="ThanhND_SliderWidget::sliderwidget_config" title="Configuarations" module="ThanhND_SliderWidget" sortOrder="30" parent="ThanhND_SliderWidget::sliderwidget" action="adminhtml/system_config/edit/section/sliderwidget" resource="ThanhND_SliderWidget::sliderwidget_config"/>
    </menu>
</config>