<?xml version="1.0" encoding="UTF-8" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routers.xsd">
    <router id="admin">
        <route id="footerlink" frontName="footerlink">
            <module name="ThanhND_FooterLink"/>
        </route>
    </router>
</config>